<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    </ion-buttons>
    <ion-title>busca tu Viaje</ion-title>

  </ion-toolbar>
</ion-header>



<div>
  <ion-searchbar showCancelButton="focus" placeholder = "Busca un destino" ></ion-searchbar>
</div>

<ion-content>
 
  <div id="Busco-Viaje">
    <ion-card>
          <ion-img src = "assets//autos/auto1.jpg"> </ion-img>
        <ion-card-content>
          <ion-card-title>
            <p>Viaje de "Usuario"</p>
          </ion-card-title>
          <ul>
            <li>origen</li>
            <li>destino</li>
            <li>costo</li>
          </ul>
          <ion-button color="warning" fill="outline"  expand="block" size="small" >Inscribirse</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>

      <ion-img src = "assets//autos/auto2.jpg"> </ion-img>

      <ion-card-content>
        <ion-card-title>
          <p>Viaje de "Usuario"</p>
        </ion-card-title>
        <ul>
          <li>origen</li>
          <li>destino</li>
          <li>costo</li>
        </ul>
        <ion-button color="warning" fill="outline"  expand="block" size="small" >Inscribirse</ion-button>
      </ion-card-content>
</ion-card>


</div>




</ion-content>


